{% extends 'post/base.html' %}
{% block content %}
    <!-- Page Content -->
    <div class="container">
      <div class="jumbotron vertical-center" style="background:inherit">
        <h1 style="text-align:center;padding-bottom:50px;color:#f05f40;font-weight:bolder;">{{page_title}}</h1>
          <form method="POST">
          {% csrf_token %}
          <div class="form-group" style="margin-bottom:10px">
              {{kridadata.label}}
              {{kridadata}}
              <button type="submit" class="btn btn-primary">Kirim</button>
          </div>
    </form>
      </div>
    </div>

{% endblock %}


