{% extends 'post/base.html' %}
{% load staticfiles %}

{% block content %}
	<form method="POST">

		<!--{{form.as_table}}-->
        <!--&lt;!&ndash;{{formset.management_form}}&ndash;&gt;-->
        <div class="container mt-5" style="padding-top:100px;">
            {% csrf_token %}
            {{forms.as_p}}
            {{formset.as_table}}
        </div>


		<input type="submit" value="Update Profile" class="button"/>
	</form>
{% endblock %}
{% block extra_script %}
	<script type="text/javascript" src="{% static 'js/formset.js' %}"></script>
{% endblock%}