{% extends "index_krida.html"  %}
{% load widget_tweaks %}

{% block content %}
<div class="container-fluid js-scroll-trigger" style="color-background">
<div class="jumbotron vertical-center" style="background:inherit;">

<h1 style="text-align:center;padding-bottom:50px;color:#f05f40;font-weight:bolder;">Dojang</h1>
    <form method="get">
        <div class="form-group col-md-6">
              {{ filter.form.dojang.label_tag }}
              {% render_field filter.form.dojang class="form-control" %}
            </div>
        <div style="padding-left:15px;">
            <button type="submit" class="btn btn-primary">Search</button>
        </div>
    </form>

     <table class="table table-hover" style="background:#C8CBDC;">
  <thead>
    <tr>
      <th scope="col">No</th>
      <th scope="col">ID</th>
      <th scope="col">Dojang</th>
      <th scope="col">Nama</th>
      <th scope="col">TTL</th>
      <th scope="col">Dari Sabuk</th>
      <th scope="col">Ke Sabuk</th>
      <th scope="col">Waktu Ujian</th>
        <!--{% if request.user.is_staff %}-->
      <!--<th scope="col">Edit</th>-->
      <!--<th scope="col">Delete</th>-->
        <!--{% endif %}-->
    </tr>
  </thead>
  <tbody>

  {% for user in datas %}
    {% csrf_token %}
    <tr>
      <th scope="row">{{forloop.counter}}</th>
         <td>
            {{user.sabukawal}}
        </td>
        <td>
            {{user.sabukujian}}
        </td>
        <td>
            {{user.waktu}}
        </td>
        {% for userx in user.kridamodels.all %}
         {% if userx.dojang == 'Krida' %}
        <td><a>KRD/</a>{{userx.id}}</td>
        <td>{{userx.dojang}}</td>
      {% elif userx.dojang == 'Bumi Putera'%}
        <td><a>BP/</a>{{userx.id}}</td>
        <td>{{userx.dojang}}</td>
    {% elif userx.dojang == 'Satria Muda'%}
        <td><a>SM/</a>{{userx.id}}</td>
        <td>{{userx.dojang}}</td>
    {% elif userx.dojang == 'Black Eagle'%}
        <td><a>BE/</a>{{userx.id}}</td>
        <td>{{userx.dojang}}</td>
    {% elif userx.dojang == 'Bangun Harjo'%}
        <td><a>BH/</a>{{userx.id}}</td>
        <td>{{userx.dojang}}</td>
        {% endif %}

      <td>{{userx.name}}</td>
        <td>{{userx.ttl}}</td>
            {% endfor %}
    </tr>
{% endfor %}
</table>

  <table style="width:100%;">
    <tbody>
      <tr>
        <td><i>*)Peserta wajib hadir tepat waktu</i></td>
        <!--{% if request.user.is_staff %}-->
        <!--<td align="right"><button type="button" class="btn btn-warning" onclick="location.href='{% url 'reviews:deleteall' %}'">Reset Peserta</button></td>-->
        <!--<td align="right"><button type="button" class="btn btn-primary" onclick="location.href='{% url 'reviews:createkrida' %}'">Tambah Peserta</button></td>-->
        <!--{% endif %}-->
      </tr>
    <tr>
      <td><i>**)Peserta wajib melunasi administrasi dan syarat yang berlaku</i></td>
    </tr>
    </tbody>
  </table>
</div>
</div>
{% endblock %}


