{% extends 'index_krida.html'%}
{% load static %}
{% block content %}
    <div class="container" style="padding-top:10px">


        <div class="jumbotron vertical-center" style="background:inherit">
    {% if request.user.is_staff %}
        <button type="button" class="btn btn-primary" onclick="location.href='{% url 'reviews:create' %}'">Buat Postingan</button>
        {% endif %}
          <h1 style="text-align:center;color:#f05f40;font-weight:bolder;">{{page_title}}</h1>
            <form action="{% url 'reviews:create' %}" method="POST" enctype="multipart/form-data">
                {% for post in PostView %}
                    {% csrf_token %}
                    <h2 style="padding-top:50px">{{post.judul}}</h2>
                <p>Penulis : <b>{{post.penulis}}</b></p>

                <center><img src="{{post.gambar.url}}" width="500" align="center"></center><br>
                    <p style="text-align:justify">{{post.isi}}</p>
                <p >Kategori : <b>{{post.kategori}}</b></p>
                        {% if request.user.is_staff %}
                    <button type="button" class="btn btn-primary" onclick="location.href='{% url 'reviews:delete' post.id %}'">Delete</button>

                    <button type="button" class="btn btn-primary" onclick="location.href='{% url 'reviews:update' post.id %}'">Update</button>
                    {% endif %}
                {% endfor%}
            </form>

      </div>

    </div>
{% endblock %}
