{% extends "index_krida.html" %}
{% load crispy_forms_tags %}
{% load staticfiles %}
   {% block content %}
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.0/css/bootstrap.min.css" integrity="sha384-PDle/QlgIONtM1aqA2Qemk5gPOE7wFq8+Em+G/hmo5Iq0CCmYZLv3fVRDJ4MMwEA" crossorigin="anonymous">
<style>
  .jumbotron {
    background-color:transparent !important;
}
</style>
    <title>Hello, world!</title>
  </head>
  <body>
    <header>
    <!--<nav class="navbar navbar-expand-lg navbar-light bg-light">-->
  <!--<a class="navbar-brand" href="/">MyCollections</a>-->
  <!--<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">-->
    <!--<span class="navbar-toggler-icon"></span>-->
  <!--</button>-->

  <!--<div class="collapse navbar-collapse" id="navbarSupportedContent">-->
    <!--<ul class="navbar-nav mr-auto">-->
      <!--<li class="nav-item active">-->
        <!--<a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>-->
      <!--</li>-->
  <!--</div>-->
<!--</nav>-->
    </header>
    <div class="container-fluid js-scroll-trigger" style="color-background;">
      <div class="jumbotron vertical-center" style="color-background:none;">


      <div class="card" style="color-background">
         <div class="card-header">
            <h1 style="text-align:center;color:#f05f40;font-weight:bolder;"><b>Daftar Anggota</b></h1>
        </div>

        <div class="card-body">
          <a class="btn btn-primary" href="{% url 'reviews:collection_create' %}" role="button">Tambah Peserta Ujian</a>
          <div>

            </div>
        </div>
      </div>
             <table class="table table-hover">
            <thead>
            <tr>
                <th scope="col">No</th>
                <th scope="col">ID</th>
                <th scope="col">Krida</th>
                <th scope="col">Nama</th>

            </tr>
            </thead>
            <thead>
            {% if collections %}
            {% for object in collections %}

                <td scope="row">{{forloop.counter}}</td>
                   {% if object.dojang == 'Krida' %}
                  <td><a>KRD/</a>{{object.id}}</td>
                  <td>{{object.dojang}}</td>
                {% elif object.dojang == 'Bumi Putera'%}
                  <td><a>BP/</a>{{object.id}}</td>
                  <td>{{object.dojang}}</td>
              {% elif object.dojang == 'Satria Muda'%}
                  <td><a>SM/</a>{{object.id}}</td>
                  <td>{{object.dojang}}</td>
              {% elif object.dojang == 'Black Eagle'%}
                  <td><a>BE/</a>{{object.id}}</td>
                  <td>{{object.dojang}}</td>
              {% elif object.dojang == 'Bangunharjo'%}
                  <td><a>BH/</a>{{object.id}}</td>
                  <td>{{object.dojang}}</td>
                  {% endif %}

                <td scope="row" ><a href="{% url 'reviews:collection_detail' pk=object.pk %}">{{ object.nama}}</a></td>

                <tr></tr>
            {% endfor %}

            {% else %}
            <td scope="row">Tidak Ada Peserta</td>
            {% endif %}



            </thead>
            <!--{% if object.has_titles %}-->
        <!--{% for title in object.has_titles.all %}-->
        <!--<tr>-->
            <!--<th>Sabuk Awal</th>-->
            <!--<td>{{title.sabukawal}}</td>-->
        <!--</tr>-->
        <!--<tr>-->
            <!--<th>Sabuk Ujian</th>-->
            <!--<td>{{title.sabukujian}}</td>-->
        <!--</tr>-->
        <!--<tr>-->
            <!--<th>Waktu Ujian</th>-->
            <!--<td>{{title.waktu}}</td>-->
        <!--</tr>-->

        <!--<tr>-->
            <!--<th>Hasil Ujian</th>-->
            <!--<td>{{title.hasilujian}}</td>-->
        <!--</tr>-->
        <!--{% endfor %}-->
        <!--{% endif %}-->
        </table>

    {% endblock %}
      </div>

    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.0/js/bootstrap.min.js" integrity="sha384-7aThvCh9TypR7fIc2HV4O/nFMVCBwyIUKL8XCtKE+8xgCgl/PQGuFsvShjr74PBp" crossorigin="anonymous"></script>
  </body>
</html>