{% extends "index_krida.html" %}

{% load crispy_forms_tags %}
{% block content %}
<style>
  .jumbotron {
    background-color:transparent !important;
    }
    .select2-container .select2-selection--single .select2-selection__rendered {
      display: inline !important;
      padding-left: 8px !important;
      padding-right: 20px !important;
      <!--padding-top: 30px !important;-->

      }
    .select2-container--default .select2-selection--single .select2-selection__rendered {
    color: #444;
    Line-height: 0px !important;
    }
      .select2-container--default .select2-selection--single .select2-selection__rendered {
    color: #444;
    line-height: 0px !important;
    }
</style>
    <div class="container-fluid js-scroll-trigger" style="  color-background;">
      <div class="jumbotron vertical-center" style="margin:0 auto;color-background:none;">
    <div class="card">
        <div class="card-header">
            History
        </div>
        <div class="container" style="margin:0 auto;">

                <form method="post" enctype="multipart/form-data">

                    {% csrf_token %}
                    {% crispy form %}

            </form>
        </div>

    </div>
</div>
    </div>
</div>
{% for x in qs %}
    {{x.id}}
{% endfor %}
{% endblock content %}